@import url("/../../node_modules/react-s-alert/dist/s-alert-default.css");
@import url("/../../node_modules/react-s-alert/dist/s-alert-css-effects/slide.css");
@import url("/../../node_modules/react-s-alert/dist/s-alert-css-effects/bouncyflip.css");
@import url("/../../node_modules/react-s-alert/dist/s-alert-css-effects/flip.css");
@import url("/../../node_modules/react-s-alert/dist/s-alert-css-effects/genie.css");
@import url("/../../node_modules/react-s-alert/dist/s-alert-css-effects/jelly.css");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css");

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;

 background-color: #fff;
}

h1 {
  margin: 0;
  color: #F97F85;
}

:global(#container) {
  width: 100%;

  :global(#navigation) {
    padding: 10px 15px;
    background-color: #F9E957;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        font-size: 18px;
        font-weight: bold;

        a {
          color: #555;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
